.navbar {
  background-color: #222; 
  border-radius: 2px;
}

.navhome {
  text-decoration: none;
  color: white;
  
}

.navhome:hover {
  color: #ccc; /* Lighter color on hover */
}

.navitem .nav-link {
  color: white; /* White color for nav items */
  padding: 10px 15px; /* Padding for button-like appearance */
  position: relative; /* For positioning the vertical line */
  transition: color 0.3s; /* Smooth transition for color change */
  font-style: oblique;
}

.navitem .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
  color: white; /* Ensure text color is white on hover */
  transition: background-color 0.3s; /* Smooth transition */
}

.navitem .nav-link::after {
  content: '';
  position: absolute;
  right: -10px; /* Position the vertical line */
  top: 50%;
  transform: translateY(-50%);
  width: 1px; /* Width of the vertical line */
  height: 20px; /* Height of the vertical line */
  background-color: white; /* Change to white for better visibility */
  z-index: 1; /* Ensure it appears above other elements */
}

.navitem .nav-link:last-child::after {
  display: none; /* Remove the vertical line after the last item */
}

button {
  margin-left: 10px; /* Space between buttons */
  
}

button:hover {
  color: white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2); /* Light background on hover */
  transition: background-color 0.5s;
}

.hr {
  margin: 0;
  
}